In [20]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [30]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
get_june_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==6).all()

In [32]:
#  3. Convert the June temperatures to a list.
june_temps = list(np.ravel(get_june_temps))

In [33]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_temps, columns=['June Temps'])

In [34]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [36]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
get_dec_temps = session.query(Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [37]:
# 7. Convert the December temperatures to a list.
dec_temps = list(np.ravel(get_dec_temps))

In [38]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_df = pd.DataFrame(dec_temps, columns=['Dec Temps'])

In [39]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_df.describe()

         Dec Temps
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [47]:
# Supplemental Query for June precipitation
get_june_precip = session.query(Measurement.prcp).filter(extract('month', Measurement.date)==6).all()
june_precip = list(np.ravel(get_june_precip))
june_precip_df = pd.DataFrame(june_precip,columns=['June_Precipitation'])
june_precip_df.describe()

       June_Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

In [49]:
# Supplemental Query for December precipitation
get_Decemeber_precip = session.query(Measurement.prcp).filter(extract('month', Measurement.date)==12).all()
Decemeber_precip = list(np.ravel(get_Decemeber_precip))
Decemeber_precip_df = pd.DataFrame(Decemeber_precip,columns=['Decemeber_Precipitation'])
Decemeber_precip_df.describe()

       Decemeber_Precipitation
count              1405.000000
mean                  0.216819
std                   0.541399
min                   0.000000
25%                   0.000000
50%                   0.030000
75%                   0.150000
max                   6.420000